@import '../styles/variables.scss';

.main-view {
    display: flex;
    
    ul {
        margin: 0;
    }

    @media (max-width: 768px) {
        display: block;
    }
}

.background {
    background-color: $light-gray;
    width: 100%;
    overflow: hidden;
    height: 100%;
}
