@import '../styles/variables.scss';

.main-view {
    display: block;
    padding: 0 20px 0 20px;
    
    ul {
        margin: 0;
    }

    @media (min-width: 768px) {
        display: flex;
    }
}

.background {
    background-color: $light-gray;
    width: 100%;
    overflow: hidden;
    height: 100%;
}
