@import '../../styles/variables.scss';

.header {
  padding: 4px 8px;
  text-transform: uppercase;
  color: white;
  font-size: 1.1rem;
  text-align: center;
  border-radius: 4px;
  margin-bottom: 16px;
  margin-top: 16px;
  font-weight: 900;

  &.primary {
    background-color: $light-blue;
  }

  &.secondary {
    background-color: $gold;
  }
}