@import '../../styles/variables.scss';

.heading {
    background-color: $dark-blue;
    text-align: center;
    padding-bottom: 4px;
    border: 4px;
    border-radius: 4px;
    margin-bottom: 8px;
}

.name {
    color: rgb(255, 255, 255);
    font-size: 2rem;
}

.occupation {
    color: $light-blue-text;
}
